* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #0b0b0b;
  --text: #ffffff;
  --muted: #b3b3b3;
  --primary: #ffd500; /* amarelo Blockpixel */
  --secondary: #2f6bff; /* azul Blockpixel */
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

a {
  color: var(--primary);
  text-decoration: none;
}

section {
  padding: 80px 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
