---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Discord">
  <h1 class="text-3xl font-bold">Discord</h1>
  <p class="mt-4">Junte-se: <a href="https://discord.gg/EdKAMp7yAJ" class="underline">Discord</a></p>
</BaseLayout>
