<nav class="w-full p-4 bg-blue-700">
  <ul class="flex gap-6">
    <li><a href="/">Início</a></li>
    <li><a href="/sobre">Sobre</a></li>
    <li><a href="/projetos">Projetos</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/suporte">Suporte</a></li>
    <li><a href="/doar">Doar</a></li>
    <li><a href="/discord">Discord</a></li>
  </ul>
</nav>
